<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEKS Saioa Hasi</title>
    <!-- style -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styleLogin.css"> 

    <!-- js -->
    <script src="/js/jquery-4.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/login.js"></script> -->
</head>

<body>
    <div class="card text-center p-5 pb-1">
        <div class="card-body p-0">
            <h1>GEKS</h1>
            <p class="card-text mb-5">Gailu Elektronikoen Kudeaketa Sistema</p>

            <!-- submit zakatzean formularioak, erabiltzaileak sartutako datuak pasatuko dizkio loginController-ari -->
            <form action="/" method="post">
                <div class="mb-4">
                    <label for="inputErabiltzailea" class="form-label">Erabiltzailea</label>
                    <input type="text" class="form-control" id="inputErabiltzailea" name="erabiltzailea" placeholder="Sar ezazu zure erabiltzailea">
                    
                </div>
                <div class="mb-4">
                    <label for="inputPassword" class="form-label">Pasahitza</label>
                    <input type="password" class="form-control" id="inputPassword" name="pasahitza" placeholder="Sar ezazu zure pasahitza">
                </div>

                <!-- Erabiltzaile edo pasahitza okerra sartuz gero sistemak mezu bidez abixatuko du. -->
                <p class="text-danger fw-light" th:text="${mezua}"></p>

                <button type="submit" class="btn p-2 mb-5 mt-5" id="loginbutton">Sartu</button>
            </form>
        
            <p class="copyRight fw-light">&copy MiguelAltuna</p>
        </div>
    </div>

</body>

</html>