<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template - GEKS</title>

    <!-- style -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- js -->
    <script src="./js/jquery-4.0.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>

<body>
    <div class="d-flex flex-column" style="height: 100vh;">
        <!----------------------------------------------------------------------------------------------------------->
        <!--                                                  HEADER-a                                             -->
        <!----------------------------------------------------------------------------------------------------------->
        <div class="header sticky-top">
            <nav class="navbar" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold" href="#">Miguel Altuna - Gailu Kudeaketa</a>
                    <div class="d-flex">
                        <span class="navbar-text me-5">Kaixo,<span class="navbar-text"></span></span>
                        <button class="btn btn-outline-light" type="button">
                            <i class="bi bi-box-arrow-right me-2"></i>Irten</button>
                    </div>
                </div>
            </nav>
        </div>
        <!-------------------------------------------------HEADER AMAIERA-------------------------------------------->

        <div class="nav-main flex-grow-1 d-flex">
            <!----------------------------------------------------------------------------------------------------------->
            <!--                                                  NAV-a                                                -->
            <!----------------------------------------------------------------------------------------------------------->
            <div class="col-2 border-end">
                <nav class="nav nav-pills flex-column p-3">
                    <a class="nav-link menua active" aria-current="page" href="#"><i
                            class="bi bi-house-door me-2"></i>Dashboard</a>
                    <a class="nav-link menua" href="#"><i class="bi bi-laptop me-2"></i>Gailuak</a>
                    <a class="nav-link menua" href="#"><i class="bi bi-buildings me-2"></i>Eraikinak</a>
                    <a class="nav-link menua" href="#"><i class="bi bi-door-open me-2"></i>Gelak</a>
                    <a class="nav-link menua" href="#"><i class="bi bi-people me-2"></i>Erabiltzaileak</a>
                    <a class="nav-link menua" href="#"><i class="bi bi-clock-history me-2"></i>Historikoak</a>
                </nav>
            </div>
            <!-------------------------------------------------NAV  AMAIERA-------------------------------------------->

            <!----------------------------------------------------------------------------------------------------------->
            <!--                                                  MAIN-a                                               -->
            <!----------------------------------------------------------------------------------------------------------->
            <div class="col-10">
                <main class="p-4">
                    <nav class="navbar p-0">
                        <div class="container-fluid">
                            <div>
                                <h2>Ongi etorri, <span class="spanH2 navbar-text">ADMIN!</span></h2>
                                <!-- <p class="navbar-brand fw-bold" href="#">Miguel Altuna - Gailu Kudeaketa</p> -->
                                <p class="navbar-text me-5">Miguel Altuna - Gailu Elektronikoen Kudeaketa Sistema</p>
                            </div>
                            <div>
                                <button class="gehiBotoia btn btn-outline-light" type="button">
                                    <p>+</p>
                                    <p>Gehitu</p>
                                </button>
                            </div>
                        </div>
                    </nav>
                </main>
            </div>
            <!-------------------------------------------------MAIN AMAIERA------------------------------------------>
        </div>

    </div>


</body>

</html>