.menua{
    color: #1e3a8a;
    font-weight: 500;
    text-align: left;
    margin-bottom: 12px;
}
i{
    font-size: 20px;
}
.header{
    background-color: #1e3a8a;
}
.nav-main{
    background-color: #f8f9fa;
    min-height: 100%;
}
.gehiBotoia{
    background-color: #1e3a8a;
}
p{
    margin: 0;
}
h2, .spanH2{
    color: #1e3a8a;
    font-weight: bold;
    margin: 0;
}